AndroidApplikation/.idea/modules.xml
*.ini
*.class
*.log
Webserver/RESTfulWebserver/src/com/jwt/DataBaseConnection/DatabaseProvider.java
Webserver/.metadata/.log
Webserver/.metadata/.plugins/org.eclipse.core.resources/.projects/RESTfulWebserver/.indexes/5b/a8/properties.index
Webserver/.metadata/.plugins/org.eclipse.core.resources/.projects/RESTfulWebserver/.indexes/e4/81/c7/b5/history.index
Webserver/.metadata/.plugins/org.eclipse.core.resources/.projects/RESTfulWebserver/.markers
Webserver/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/c7/properties.index
Webserver/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Webserver/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Webserver/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Webserver/.metadata/.plugins/org.eclipse.jdt.core/3359868523.index
Webserver/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Webserver/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Webserver/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Webserver/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Webserver/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Webserver/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
Webserver/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/RESTfulWebserver/WEB-INF/classes/com/jwt/service/Services.class
Webserver/.metadata/version.ini
Webserver/RESTfulWebserver/build/classes/com/jwt/service/Services.class
Webserver/RESTfulWebserver/src/com/jwt/DataBaseConnection/DatabaseProvider.java
Webserver/RESTfulWebserver/WebContent/WEB-INF/environement.ini
